.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 .75rem 0;

  &>* {
    display: flex;
    align-items: center;
  }

  .start>* {
    display: flex;
    align-items: center;
    margin: 0 .75rem 0 0;
  }

  .end>* {
    margin: 0 0 0 .75rem;
  }
}
